* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: system-ui, sans-serif;
  position: relative;
  min-height: 100vh;
  background: white;
}
.element-1-75 {
  position: absolute;
  left: -1.1368683772161603e-13px;
  top: 0px;
  width: 393px;
  height: 852px;
  background: rgb(250, 250, 250);
  border-radius: 32px;
  overflow: hidden;
}

.element-1-110 {
  position: absolute;
  left: -1.1368683772161603e-13px;
  top: 831px;
  width: 393px;
  height: 21px;
}

.element-1-111 {
  position: absolute;
  left: 127px;
  top: 839px;
  width: 139px;
  height: 5px;
  background: rgb(44, 25, 77);
  border-radius: 100px;
}

.element-1-112 {
  position: absolute;
  left: 32px;
  top: 170px;
  width: 154px;
  height: 58px;
  font-family: Inter, system-ui, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.60000228881836px;
  letter-spacing: -0.96px;
  text-align: center;
  color: rgb(54, 51, 65);
}

.element-1-114 {
  position: absolute;
  left: 32px;
  top: 252px;
  width: 329px;
  height: 117px;
}

.element-1-115 {
  position: absolute;
  left: 32px;
  top: 252px;
  width: 329px;
  height: 58px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 8px 8px 0px 0px;
}

.element-1-116 {
  position: absolute;
  left: 48px;
  top: 272px;
  width: 120px;
  height: 18px;
  font-family: Inter, system-ui, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.3px;
  text-align: center;
  color: rgb(54, 51, 65);
}

.element-1-117 {
  position: absolute;
  left: 32px;
  top: 310px;
  width: 329px;
  height: 59px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 0px 0px 8px 8px;
}

.element-1-118 {
  position: absolute;
  left: 48px;
  top: 330.5px;
  width: 69px;
  height: 18px;
  font-family: Inter, system-ui, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.3px;
  text-align: center;
  color: rgb(192, 192, 192);
}

.element-1-120 {
  position: absolute;
  left: 16px;
  top: 662px;
  width: 361px;
  height: 46px;
  background: linear-gradient(-110.57126407882667deg, rgb(149, 34, 140) 0%, rgb(58, 60, 179) 100%);
  border-radius: 62px;
  overflow: hidden;
}

.element-1-123 {
  position: absolute;
  left: 172px;
  top: 674px;
  width: 49px;
  height: 22px;
  font-family: Inter, system-ui, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.15px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.element-1-125 {
  position: absolute;
  left: 16px;
  top: 720px;
  width: 361px;
  height: 46px;
  background: rgb(225, 224, 230);
  border-radius: 62px;
  overflow: hidden;
}

.element-1-126 {
  position: absolute;
  left: 141.5px;
  top: 732px;
  width: 110px;
  height: 22px;
  font-family: Inter, system-ui, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.15px;
  text-align: center;
  color: rgb(54, 51, 65);
}

.element-1-127 {
  position: absolute;
  left: 16px;
  top: 778px;
  width: 361px;
  height: 37px;
  font-family: Inter, system-ui, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.600000381469727px;
  letter-spacing: -0.26px;
  text-align: center;
  color: rgb(54, 51, 65);
}
